<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.maven.ide.eclipse.archetypeCatalogs">
      <remote
            description="http://repo2.maven.org/maven2/org/apache/servicemix/tooling/catalog/3.2.3/catalog-3.2.3.xml"
            url="ServiceMix 3.2.3 Archetype Catalog">
      </remote>
      <remote
            description="http://repo2.maven.org/maven2/org/apache/servicemix/tooling/catalog/3.2.2/catalog-3.2.2.xml"
            url="ServiceMix 3.2.2 Archetype Catalog">
      </remote>
      <remote
            description="FUSE Source Archetypes Repository"
            url="http://repo.fusesource.com/maven2/archetype-catalog.xml">
      </remote>
   </extension>

</plugin>
