<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.wst.xml.core.catalogContributions">
        <catalogContribution id="org.smxide.camel.catalog.apache">
            <!-- Camel 1.x schema location -->
            <uri name="http://activemq.apache.org/camel/schema/spring/camel-spring-1.0.0.xsd" uri="xsd/camel-spring-1.0.0.xsd" />
            <uri name="http://activemq.apache.org/camel/schema/spring/camel-spring-1.1.0.xsd" uri="xsd/camel-spring-1.1.0.xsd" />
            <uri name="http://activemq.apache.org/camel/schema/spring/camel-spring-1.2.0.xsd" uri="xsd/camel-spring-1.2.0.xsd" />
            <uri name="http://activemq.apache.org/camel/schema/spring/camel-spring-1.3.0.xsd" uri="xsd/camel-spring-1.3.0.xsd" />
            <uri name="http://activemq.apache.org/camel/schema/spring/camel-spring-1.4.0.xsd" uri="xsd/camel-spring-1.4.0.xsd" />
            <uri name="http://activemq.apache.org/camel/schema/spring/camel-spring-1.5.0.xsd" uri="xsd/camel-spring-1.5.0.xsd" />
            <uri name="http://activemq.apache.org/camel/schema/spring/camel-spring-1.6.0.xsd" uri="xsd/camel-spring-1.6.0.xsd" />
            <uri name="http://activemq.apache.org/camel/schema/spring/camel-spring-1.6.1.xsd" uri="xsd/camel-spring-1.6.1.xsd" />
            <uri name="http://activemq.apache.org/camel/schema/spring/camel-spring-1.6.2.xsd" uri="xsd/camel-spring-1.6.2.xsd" />
            <uri name="http://activemq.apache.org/camel/schema/spring/camel-spring-1.6.3.xsd" uri="xsd/camel-spring-1.6.3.xsd" />
            <!-- Camel 2.x schema location -->
            <uri name="http://camel.apache.org/schema/spring/camel-spring-2.0.0.xsd" uri="xsd/camel-spring-2.0.0.xsd" />
            <uri name="http://camel.apache.org/schema/spring/camel-spring-2.1.0.xsd" uri="xsd/camel-spring-2.1.0.xsd" />
            <uri name="http://camel.apache.org/schema/spring/camel-spring-2.2.0.xsd" uri="xsd/camel-spring-2.2.0.xsd" />
            <uri name="http://camel.apache.org/schema/spring/camel-spring-2.3.0.xsd" uri="xsd/camel-spring-2.3.0.xsd" />
            <uri name="http://camel.apache.org/schema/spring/camel-spring-2.4.0.xsd" uri="xsd/camel-spring-2.4.0.xsd" />
        </catalogContribution>
    </extension>

</plugin>
