<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.wst.xml.core.catalogContributions">
        <catalogContribution id="org.smxide.cxf.catalog">
            <uri name="http://cxf.apache.org/schemas/configuration/cxf-beans.xsd" uri="xsds/cxf-beans.xsd" />
            <uri name="http://cxf.apache.org/schemas/core.xsd" uri="xsds/core.xsd" />
            <uri name="http://cxf.apache.org/schemas/jaxws.xsd" uri="xsds/jaxws.xsd" />
            <uri name="http://cxf.apache.org/schemas/jaxrs.xsd" uri="xsds/jaxrs.xsd" />
            <uri name="http://cxf.apache.org/schemas/policy.xsd" uri="xsds/policy.xsd" />
            <uri name="http://cxf.apache.org/schemas/simple.xsd" uri="xsds/simple.xsd" />
        </catalogContribution>
    </extension>

</plugin>
